body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#investmentList {
    list-style-type: none;
    padding: 0;
}

#investmentList li {
    background-color: #eaeaea;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

#addInvestmentForm {
    margin-top: 20px;
}
